body { background: seashell;
		color: darkred;
		font-size: 14pt;
		font-family: arial }
		
h1 { font-size: 200%;
		text-decoration: underline;
		text-align: center;
		font-weight: bold }
		
p { font-size: 14pt;
	font-weight: normal }
	
p2 {font-size: 9pt; }		
		
a { color: purple }
	
a:hover { color: blue }			
		
	
